*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: indianred;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.app_container{
    width: max-content;
    margin: 15rem auto;
}
.title{
    font-size: 2rem;
    display: none;
}
.timer{
    display: flex;
    font-size: 5.8rem;
    color:darkred;
}
@media screen and (max-width: 640px) {
    .timer{
        font-size: 3rem;
    }
}